{% extends 'main/layout.html' %}

{% block content %}

<div id="content">
    <form action="{% url 'crawl_table' %}" method="post">
        {% csrf_token %}
        <fieldset id='major_box' class="detail_form">
            <legend>학과</legend>
            <input id='major' type="text" name="major" value="{{department}}" readonly="">
        </fieldset>
        <fieldset id="department" class="detail_form">
            <legend>단일 전공 여부</legend>
                {% if double_major is None %}
                <label>단일전공</label><input type="radio" name="double_chk" value="" checked>
                <label>복수전공</label><input type="radio" name="double_chk" value="T">
                {% else %}
                <label>단일전공</label><input type="radio" name="double_chk" value="" disabled>
                <label>복수전공</label><input type="radio" name="double_chk" value="T" checked>
                {% endif %}
        </fieldset>
        <fieldset id="double_major_info" name="hakgwa_cd" style="height: 80px;" disabled="">
            <legend>복수 전공 학과 선택</legend>
            <div>
                <label>대학</label>
                <select id="A" onchange="itemChange(this)" style="width: 100%;">
                    <option value="00000" selected="">선택하세요</option>
                    <option value="A1216">▶ 진성애교양대학</option>
                    <option value="A1470">▶ 인문대학</option>
                    <option value="A1480">▶ 예술체육대학</option>
                    <option value="A1430">▶ 지식정보서비스대학</option>
                    <option value="A1435">▶ 사화과학대학</option>
                    <option value="A4455">▶ 소프트웨어경영대학</option>
                    <option value="A1455">▶ 융합과학대학</option>
                    <option value="A1440">▶ 창의공과대학</option>
                    <option value="A2440">▶ 창의공과대</option>
                    <option value="A4460">▶ 관광문화대학</option>
                </select>
            </div>
            <div>
                <label>학과</label>
                <select id="B" onchange="itemChange(this)" style="width: 100%;">
                </select>
            </div>
            <div>
                <label>전공</label>
                <select id="C" style="width: 100%;">
                </select>

            </div>
        </fieldset>
        <fieldset id="radio" class="detail_form">
            <legend>외국인 여부</legend>
            {% if foreigner %}
                <label>KOREAN</label><input type="radio" name="foreigner" value="" disabled>
                <label>FOREIGNER</label><input type="radio" name="foreigner" value="T" checked>
            {% else %}
                <label>KOREAN</label><input type="radio" name="foreigner" value="" checked>
                <label>FOREIGNER</label><input type="radio" name="foreigner" value="T" disabled>
            {% endif %}
        </fieldset>
        <input type="hidden" id='double_major' name="double_major" >
        <div id="submitBox">
            <input type="submit" id="submit_btn" class="index_form" value="진단하기" onclick="getName()">
        </div>
    </form>
</div>

{% endblock %}