/*
index.css
*/

#headerBox {
    position: relative;
    text-align: center;
    margin: 0 auto;
    border-bottom: solid 1px black;
}
#logo {
    position: relative;
    overflow: hidden;
    padding: 60px 0 54px;
    box-sizing: border-box;
    padding-bottom: 10px;
}
#logo .h_logo {
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 60px;
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    color: transparent;
    font-size: 0;
}

#header {
    width: 400px;
    margin: 0 auto;
    padding-right: 40px;
    margin-bottom: 30px;
}

#container{
    width: auto;
    margin: 0 auto;
}

#content{
    width: 460px;
    margin: 0 auto;
    padding: 80px;
    padding-bottom: 150px;
}

.index_form{
    background: #fff;
    outline: 0;
    width: 100%;
    height: 45px;
    border: solid 1px #dadada;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    padding-left: 15px;
    font-size: 15px;
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


#submitBox input {
    line-height: 45px;
    margin: 12px 0 14px;
    border: solid 1px rbga(0,0,0,.1);
    box-shadow: 0 2px 6px 0 rgb(61 80 81 / 8%);
    background-color: #dadada;
    cursor: pointer;
    text-align: center;
    border-radius: 0;
    font-size: 16px;
    letter-spacing: -.5px;
}

.detail_form{
    height: 60px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

.detail_form input{
    padding: 0;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    width: 100px;
}

#major{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 16px;
    color: black;
    font-weight: bold;

}

#double_major_info div {
    width: 30%;
    text-align: center;
    display: inline-block;
    padding-left: 8px;
}

/*#content {*/
/*    display: none;*/
/*}*/

/* ---------------- footer ------------------*/

#footerBox {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 240px;
    text-align: center;
    background-color: #f9f9f9;
}
#inner_box {
    position: relative;
    height: 150px;
}
.other_site{
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px 0 0 20%;
    text-align: left;
}
.other_site li {
    margin-top: 3px;
    font-size: 12px;
    display: block;
    list-style-type: none;
    width: auto;
    height: auto;
    vertical-align: middle;
}
.other_site span{
    margin-right: 8px;
    margin-left: 8px;
}
.other_site a {
    overflow: hidden;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;
    font-weight: bold;
}
.other_site a:hover{
    text-decoration-line: underline;
}
#sns_share {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
}
#sns_share ul{
    list-style-type: none;
    position: absolute;
    bottom: 10px;
    right: 20%;
}
#sns_share li{
    display: inline-block;
    overflow: hidden;
    list-style-type: none;
    width: 22px;
    height: 20px;
    margin-left: 15px;
    vertical-align: middle;
}
#sns_share a{
    display: block;
    height: 20px;
    color: #a5a5a5;
}
#sns_share i {
    width: 23px;
    height: 23px;
    margin: 0;
}
#email a {
    font-size: 23px;
}
#github a{
    font-size: 23px;
}
.xi-rss {
    vertical-align: -3px;
}
#caution {
    max-width: 1180px;
    margin: 0 auto;
    padding: 19px 0;
    color: #323232;
    text-align: center;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    word-spacing: 2px;
    line-height: 10px;
    border-top: solid 1px #efefef;
}